{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}">
{% endblock custom_css %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div id="home-content">
                <h1>Create or take surveys through paid opinion polls!</h1>
                <h4>Get and give Feedback that matters!</h4>
                <hr>
                <a class="btn btn-info btn-lg" href="{% url 'polls:list' %}" role="button">Get Started</a>
                <br><br>
                <hr>
                <h3>Payments & Pricing</h3>
                <hr>
                <div class="row">
                    <div class="pricing">
                        Publishing A poll
                    </div>
                    <div class="pricing">
                        Responding to A poll
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}