{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}">
{% endblock custom_css %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div id="home-content">
                <h2>Create or take surveys through paid opinion polls!</h2>
                <h4>Get and give Feedback that matters!</h4>
                <hr>
                <a class="btn btn-info btn-lg" href="{% url 'polls:list' %}" role="button">Get Started</a>
                <hr>
                <h3>Payments & Pricing</h3>
                <hr>
                <div class="row">
                    <div class="pricing">
                        <hr>
                        <h3>Publishing A poll</h3>
                        <hr>
                        <p>The standard cost for publishing a poll or survey </p>
                        <hr>
                        <h2>$100</h2>
                        <hr>
                    </div>
                    <div class="pricing">
                        <hr>
                        <h3>Responding to A poll</h3>
                        <hr>
                        <p>Survey respondents each get paid for every single response</p>
                        <hr>
                        <h2>$1</h2>
                        <hr>
                    </div>
                </div>
                <br><br>
                <div>
                    <h2>Stay In Touch</h2>
                    <br><br>
                    <a href="{% url 'accounts:newsletter' %}">
                        <button class="btn btn-lg btn-danger">
                            Subscribe to Our Newsletter
                        </button>
                    </a>
                    <br><br>
                    <a href="https://www.facebook.com/" target="_blank">
                        <button class="btn btn-lg btn-info">
                            Follow us on Facebook
                        </button>
                    </a>
                    <br><br>
                    <svg style="width:35%;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                        <!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                        <path
                            d="M96 80c0-26.5 21.5-48 48-48H432c26.5 0 48 21.5 48 48V384H96V80zm313 47c-9.4-9.4-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L409 161c9.4-9.4 9.4-24.6 0-33.9zM0 336c0-26.5 21.5-48 48-48H64V416H512V288h16c26.5 0 48 21.5 48 48v96c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V336z" />
                    </svg>
                    <br>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}