{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}">
{% endblock custom_css %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div id="home-content">
                <h2>Create or take surveys through paid opinion polls!</h2>
                <h4>Get and give Feedback that matters!</h4>
                <hr>
                <a class="btn btn-info btn-lg" href="{% url 'polls:list' %}" role="button">Get Started</a>
                <hr>
                <h3>Payments & Pricing</h3>
                <hr>
                <div class="row">
                    <div class="pricing">
                        <hr>
                        <h3>Publishing A poll</h3>
                        <hr>
                        <p>The standard cost for publishing a poll or survey </p>
                        <hr>
                        <h2>$100</h2>
                        <hr>
                    </div>
                    <div class="pricing">
                        <hr>
                        <h3>Responding to A poll</h3>
                        <hr>
                        <p>Survey respondents each get paid for every single response</p>
                        <hr>
                        <h2>$1</h2>
                        <hr>
                    </div>
                </div>
                <div>
                    <h2>Stay In Touch</h2>
                    <a href="{% url 'accounts:newsletter' %}">
                        <button class="btn btn-lg btn-danger">
                            Subscribe to Our Newsletter
                        </button>
                    </a>
                    <br><br>
                    <a href="https://www.facebook.com/" target="_blank">
                        <button class="btn btn-lg btn-info">
                            Follow us on Facebook
                        </button>
                    </a>
                    <br><br><br>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %}